//VARIABLES
/* A collection of Bootstrap and Custom that can be edited to change the overall theme colors and sizes.
Bootstrap variables are overwritten. To see a list of Bootstrap variables see node_modules/bootstrap/scss/_custom_variables.scss */

//BOOTSTRAP//
//Global//
$font-family-base:            Montserrat; //Change the default theme font
$gray-800:                    #161827; //change the default dark nav color
//navbar header//
$navbar-padding-y:            0.3rem; //Set the navbar height




//CUSTOM variables




